name: Verify

on:
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["20"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run verification
        id: verify
        run: |
          # list changed workspaces,
          # extract names,
          # merge on one line with comma in between,
          # surround the result with curly brackets,
          # and perform a topological check on the resulting set of workspaces
          yarn workspaces foreach --parallel --interlaced --verbose --recursive --topological-dev --from "$(\
            yarn workspaces list --recursive --since --json \
            | jq -rc '.name' -- \
            | paste -sd, - \
            | awk '{print "{" $0 ",}"}' \
          )" run check
          git diff --exit-code
          yarn workspaces foreach --verbose --parallel --interlaced --since --recursive run fmt:check
          yarn workspaces foreach --verbose --parallel --interlaced --since --recursive run lint
          yarn workspaces foreach --verbose --parallel --interlaced --since --recursive run test
